* {
    margin: 0;
}

i {
    margin: 0 10px;
}

body {
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    color: #3e434b;
    overflow-x: hidden;
}
nav {
    background-color:white;
    display: flex;
    justify-content: space-between;
}

button {
    outline-style: none;
    border: 1px solid transparent;
}

.nombre-pagina, .carrito {
    padding: 10px;
    margin: 20px 120px;
    font-weight: 300;
}

.carrito {
    margin-left: 60px;
    border: 1px solid transparent;
    background: transparent;
    cursor: pointer;
    color: #3e434b;
}

.carrito > i {
    margin-right: 5px;
}

/*-----------------------CARRITO DE COMPRAS LATERAL------------------------*/
.no-scroll {
    overflow: hidden;
}

.hidden {
    display: none;
}

.overlay {
    width: 100vw;
    height: 100vh;
    background-color: rgba(0,0,0,0.4);
    position: fixed;
    top:0;
    z-index: 2;
}

#carrito-lateral {
    height: 100vh;
    width: 350px;
    background-color: white;
    position: fixed;
    right: 0;
    z-index: 3;
    display: flex;
    flex-direction: column;
    padding: 0 30px;
    transform: translate(410px);
    transition: .4s ease;
}

.mostrar-menu {
    transform: translate(0) !important;
}

.titulo-carrito {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    margin: 20px 0;
    height: 5%;
}

.titulo-carrito i {
    font-size: 20px;
    cursor: pointer;
}

.descripcion-compra {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 95%;
    margin-bottom: 20px;
}

#boton-comprar {
    width: 100%;
    background-color: #4caf50;
    padding: 15px;
    border: 1px solid transparent;
    border-radius: 5px;
    color: white;
    margin-top: 10px;
    transition: .3s;
}

#boton-comprar:hover {
    background-color: #43a047;
}

#boton-vaciar {
    width: 100%;
    background-color: transparent;
    padding: 15px;
    border: 1px solid #d32f2f;
    border-radius: 5px;
    color: #d32f2f;
    margin-top: 10px;
    transition: .3s;
}

#boton-vaciar:hover {
    background-color: #c62828;
    color: white;
}

/*------------------------FIN CARRITO DE COMPRAS LATERAL-------------------------------*/

/*------------------------- CHECKOUT --------------------------------*/
.overlay-checkout {
    width: 100vw;
    height: 100vh;
    background-color: rgba(0,0,0,0.4);
    position: absolute;
    top:0;
    z-index: 4;
}
.contenedor-checkout {
    width: 100vw;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: transparent;
    position: absolute;
    z-index: 5;
}

#checkout-menu {
    width: 50%;
    height: 85%;
    display: flex;
    flex-direction: column;
    background-color: white;
    border-radius: 5px;
    padding: 40px;
    padding-top: 20px;

}

#checkout-menu > h2 {
    margin-top: 15px;
    margin-bottom: 30px;
}

.contenedor-datos {
    display: flex; 
    height: 80%;
    justify-content: space-between;
}

.titulo-personales {
    margin-bottom: 40px;
}

.datos-personales {
    width: 50%;
    display: flex;
    flex-direction: column;
    padding: 20px;
}

.datos-personales hr {
    height: 2px;
    width: 100%;
    background-color:rgb(240, 240, 240);
    border: none;
    margin: 40px 0;
}

.datos-personales > label {
    margin-top: 10px;
    font-size: 15px;
}

.datos-personales > input {
    margin: 10px 0;
    padding: 10px;
    border: none;
    border-bottom:1px solid #3e434b;
    width: 70%;
}

.opciones {
    margin-bottom: 10px;
}


.resumen {
    width: 35%;
    background-color: rgb(240, 240, 240);
    border-radius: 5px;
    padding: 20px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.resumen-total {
    display: flex;
    justify-content: space-between;
    margin-top: 20px;
    font-weight: 800;
}

.resumen-subtotal, .envio {
    display: flex;
    justify-content: space-between;
    margin-top: 10px;
    font-weight: 500;
}

.descuento {
    display: flex;
    justify-content: space-between;
    color: #43a047;
    margin-top: 10px;
    font-weight: 500;
}

.recargo {
    display: flex;
    justify-content: space-between;
    margin-top: 10px;
    color:#d32f2f;
    font-weight: 500;
}

.confirmacion {
    height: 20%;
    width: 100%;
    margin-top: 40px;
    display: flex;
    justify-content: flex-end;
    align-items: center;
}

#seguir {
    height: 60px;
    width: 220px;
    padding: 0 15px;
    border-radius: 5px;
    color: #3e434b;
    font-size: 14px;
    background-color:rgb(247, 247, 247);
    transition: .3s;
}

#seguir:hover {
    background-color: #e0e0e0;
}

#finalizar {
    height: 60px;
    width: 220px;
    padding: 0 25px;
    border: none;
    border-radius: 5px;
    color: #3e434b;
    margin-left: 30px;
    font-size: 14px;
    background-color: #4caf50;
    color: white;
    transition: .3s;
}

#finalizar:hover {
    background-color: #43a047;
}

/*---------------------------------- FIN CHECKOUT ------------------------------------*/

/*---------------------------------- PRODUCTO EN CARRITO ------------------------------*/
.contenedor-producto-carrito {
    display: flex;
    padding-top: 15px;
}

.contenedor-img-carrito {
    height: 110px;
    width: 30%;
    margin-right: 10px;
}

.img-carrito {
    height: 100%;
}

.contenedor-descripcion-carrito {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    margin: 20px 10px;
    width: 70%;
}

.linea-superior-descripcion, .linea-inferior-descripcion{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.boton-tacho {
    background-color: transparent;
}

.tacho {
    color: red;
    font-size: 20px;
    margin: 0;
}

.cantidad-productos {
    width: 30px;
    padding: 4px;
    text-align: center;
}

.medida-productos {
    display: flex;
    flex-direction: row;
    align-items: center;
}


/*---------------------------------- ALERT VACIAR CARRITO ------------------------------*/

.overlay-vaciar {
    width: 100vw;
    height: 100vh;
    background-color: rgba(0,0,0,0.4);
    position: absolute;
    top:0;
    z-index: 4;
}

.contenedor-vaciar {
    width: 100vw;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: transparent;
    position: absolute;
    z-index: 5;
}

.vaciar-carrito {
    width: 25%;
    height: 22%;
    background-color: white;
    border-radius: 5px;
    padding: 60px 40px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    text-align: center;
}

.vaciar-carrito > p {
    font-size: 32px;
    font-weight: 800;
    margin-bottom: 10px;
}

.contenedor-botones-vaciar {
    width: 100%;
    display: flex;
    justify-content: space-between;
}

#cancelar-vaciar {
    width: 46%;
    padding: 20px 40px;
    margin-right: 5px;
    border-radius: 5px;
    background-color:rgb(247, 247, 247);
    transition: .3s;
}

#cancelar-vaciar:hover {
    background-color: #e0e0e0;
}

#vaciar {
    width: 46%;
    padding: 20px 40px;
    margin-left: 5px;
    border-radius: 5px;
    background-color: #d32f2f;
    color: white;
    transition: .3s;
}

#vaciar:hover {
    background-color: #c62828;
}

/*------------------------------------------------- FIN ALERT VACIAR -------------------------------*/

/*---------------------------------- BANNER --------------------------------*/

header {
    height: 400px;
    background-color: black;
    background-image: url("banner.jpg");
    background-position: center;
    background-size: cover;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
}

header:before {
	content:'';
	position: absolute;
        top: 0;
	bottom: 0;
	left: 0;
	right: 0;
	background-color: rgba(0,0,0,0.5);
}

header > h1 {
    color: white;
    z-index: 1;
}


/*----------------------------------  FIN BANNER --------------------------------*/

/*---------------------------------- FOOTER --------------------------------*/

footer {
    background-color:#CBC0D3;
    display: flex;
    justify-content: center;
}

.saludo {
    margin: 40px 0;
}

/*---------------------------------- FIN FOOTER --------------------------------*/

/*---------------------------------- FILTROS Y PRODUCTOS --------------------------------*/

.contenedor-filtros-productos {
    display: flex;
    background-color:#FEEAFA;
    padding: 60px 150px;
}

/*------------------- FILTROS ------------------*/

.contenedor-filtros {
    background-color: #FEEAFA;
    flex: 1;
    display: flex;
    justify-content: center;
    padding: 30px;
}

.cerrar-filtros {
    display: none;
}

.contenedor-filtros > div {
    margin: 15px;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    flex-basis: 300px;
}

.titulo-filtros {
    display: flex;
    justify-content: space-between;
}

.titulo-filtros > h1{
    font-size: 20px;
    font-weight: bold;
}

.sub-filtros {
    font-size: 16px;
    font-weight: 600;
    margin-bottom: 15px;
}

input {
    margin-right: 10px;
    margin-bottom: 2px;
}

.busqueda, .categorias, .puntaje {
    margin-top: 30px;
}

.busqueda > input {
    margin: 0;
}

.busqueda-escrita {
    display: flex;
    position: relative;
}

.icono {
    position: absolute;
    top: 10px;
    right: 15px;
}

#busqueda-usuario {
    padding: 10px;
    border:none;
    background-color:transparent;
    border-bottom:2px solid #3e434b;
    width: 212px;
    outline-style: none;
    box-sizing: border-box;
}

#busqueda-usuario:focus {
    border: 1px solid #3e434b;
    border-radius: 4px;
    
}

.categorias {
    display:flex;
    flex-direction: column;
}

.puntaje > label{
    display: flex;
    align-items: center;
    font-size: 12px;
    margin-bottom: 2px;
}

.categorias > label {
    font-size: 12px;
    font-weight: 500;
    display: flex;
    align-items: center;
    margin-bottom: 2px;
}

.calificacion-puntaje {
    display: flex;
}

.calificacion-puntaje > i {
    margin: 0px 2px;
    font-size: 12px;
    color:#CBC0D3;
}

.limpiar {
    display: flex;
    align-items: center;
    margin-left: 60px;
    border: 1px solid transparent;
    background: transparent;
    cursor: pointer;
    color:#3e434b;
    box-sizing: border-box;
}

.limpiar > i {
    margin-left: 5px;
}

/*------------------- FIN FILTROS ------------------*/

/*------------------- PRODUCTOS ------------------*/

section > div {
    flex: 9;
}

/*----------- CONTADOR PRODUCTOS --------*/

.indicador-productos {
    background-color: white;
    display: flex;
    justify-content: space-between;
    margin: 10px;
    font-size: 13px;
    font-weight: 300;
    color: #3e434b;
}

.indicador-productos > p {
    margin: 40px 25px;
}

.botones-grilla-lista {
    background: transparent;
    cursor: pointer;
}

.botones-grilla-lista > i {
    margin: 0px;
}

.boton-filtros {
    background: transparent;
    cursor: pointer;
    color: #3e434b;
    font-weight: 300;
    display: none;
}

.boton-filtros > i {
    color: #3e434b;
    margin:0;
}

.indicador-productos > div {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 20px;
}

/*----------- FIN CONTADOR PRODUCTOS --------*/

/*----------- TARJETITAS --------*/
.grilla {
    display: flex;
    flex-wrap: wrap;
    align-content: center;
}

.grilla .productos {
    height: 450px;
    width: calc(100% / 3 - 10px * 3);
    background-color:white;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 10px;
    padding: 5px;
    transition: .2s ease-out;  
}

.productos:hover {
    box-shadow: 0 0 20px 4px rgba(0, 0, 0, 0.1);
}

img {
    height: 100%;
    transition: 0.2s ease-out;
}

.img-tarj:hover {
    transform: scale(1.2);
}

.grilla .productos > .contenedor-imagen {
    height: 50%;
    margin: 20px;
    overflow: hidden;
}

.grilla .productos > .descripcion {
    display: flex;
    flex-direction: column;
    height: 40%;
    align-items: center;
}

.grilla .productos > .descripcion > .precio {
    margin: 10px 0;
    font-size: 12px;
}

.grilla .productos > .descripcion > .boton-comprar-tarj {
    width: 200px;
    height: 45px;
    border: 1px solid transparent;
    border-radius: 5px;
    background: whitesmoke;
    font-size: 14px;
    font-weight: 500;
    margin-top: 40px;
    cursor:pointer;
    color: #3e434b;
}

.boton-comprar-tarj:hover {
    background: #f2f2f2;
}


button:focus {
    border: 1px solid #cecece;
    border-radius: 4px;
    
}

.calificacion {
    display: flex;
}

.calificacion > i {
    margin: 2px;
    font-size: 12px;
    color: #CBC0D3;
}

.hidden-tarjetas {
    display: none !important;
}

.hidden {
    display: none;
}

/*-- paso de trarjetas a grilla --*/

.lista {
    display: block;
}

.lista .productos > .descripcion > .precio {
    margin: 0;
    color: #CBC0D3;
    font-size: 12px;
}

.lista .productos {
    height: 320px;
    width: auto;
    background-color:white;
    display: flex;
    flex-direction: row;
    align-items: center;
    margin: 10px;
    padding: 10px;
    transition: .2s ease-out; 
}

.lista .productos > .contenedor-imagen {
    height: 90%;
    min-width: 300px;
    overflow: hidden;
    margin: 20px;
}

.lista .productos > .descripcion {
    display: flex;
    flex-direction: column;
    height: 70%;
    align-items: flex-start;
    justify-content: space-between;
    margin: 0 10px;
}

.lista .productos > .descripcion > .descripcion-individual {
    font-size: 15px;
    margin: 0;
    display: block;
}

.lista .productos > .descripcion > .boton-comprar-tarj {
    margin-top: 5px;
    width: 150px;
    height: 45px;
    border: 1px solid transparent;
    border-radius: 5px;
    background: whitesmoke;
    font-size: 14px;
    font-weight: 500;
    cursor:pointer;
    color: #3e434b;
}



/*----------- FIN TARJETITAS --------*/

/*------------------- FIN PRODUCTOS ------------------*/

/*---------------------------------- FIN FILTROS Y PRODUCTOS --------------------------------*/


/*------------------------------------ MEDIAS QUERY ---------------------------------*/

@media (max-width: 1399px) {
    .contenedor-filtros-productos {
        padding:30px 10px;
    }

    .contenedor-filtros{
        padding: 10px;
    }

    .grilla .productos {
        padding: 0;
        width: calc(100% / 3 - 10px * 2);
    }

    #checkout-menu {
        width: 60%;
    }

    .vaciar-carrito {
        width: 27%;
        height: 20%;
        padding: 40px 30px;
    }

    .vaciar-carrito > p {
        font-size: 25px;
    }

    .lista .productos {
        height: 300px;
        padding: 10px;
    }

}

@media (max-width: 1199.98px) {
    .grilla .productos {
        width: calc(100% / 2 - 2 * 10px);
    }

    #checkout-menu {
        width: 65%;
    }

    .vaciar-carrito {
        width: 35%;
    }
}

@media (max-width: 991.98px) {
    section > div {
        width: 60%;
    }

    .lista .productos > .contenedor-imagen {
        height: 80%;
        min-width: 220px;
        margin: 10px;
    }

    .lista .productos > .contenedor-imagen > .img-tarj {
        height:80%;
    }

    .lista .productos > .descripcion > .descripcion-individual {
        font-size: 12px;
    }

    .vaciar-carrito > p {
        font-size: 23px;
    }
}

@media (max-width: 850px) {
    .boton-filtros {
        display: block;
    }

    .botones-grilla-lista {
        display: none;
    }

    .opciones-para-ver {
        display: none;
    }

    .contenedor-filtros {
        background-color: white;
        transition: .4s ease;
        z-index: 3;
        background-color: white;
        position: fixed;
        top: 0;
        right: 0;
        height: 100vh;
        padding: 30px;
        transform: translate(100%);
    }

    .mostrar-filtros {
        transform: translate(0%) !important;
    }

    .cerrar-filtros {
        display: block;
        background: transparent;
        cursor: pointer;
    }

    .cerrar-filtros > i {
        color: #3e434b;
        font-size: 15px;
    }

    .contenedor-cerrar {
        width: 100%;
        display: flex;
        justify-content: flex-end;
        margin-bottom: 20px;
    }

    #checkout-menu {
        position: absolute;
        top: 0;
        right: 0;
        width: auto;
        height: auto;
    }

    .contenedor-checkout {
        overflow: scroll;
    }

    .contenedor-datos {
        height: auto;
        display: flex;
        flex-direction: column;
    }

    .datos-personales {
        width: auto;
        padding: 10px;
    }

    .resumen {
        width: auto;
        margin-top: 30px;
    }

    .resumen > h3 {
        margin-bottom: 20px;
    }

    #finalizar {
        margin: 0;
        margin-left: 30px;
        width: 190px;
        font-size: 14px;
    }

    #seguir {
        width: 190px;
        font-size: 14px;
    }

    .vaciar-carrito {
        justify-content: flex-end;
        width: 50%;
        position: absolute;
        top: 0;
        right: 0;
        height: 100vh;
        padding: 0 30px;
    }

    .vaciar-carrito > p {
        font-size: 30px;
        margin-bottom: 100px;
    }

    .contenedor-botones-vaciar {
        margin-top: 140px;
        margin-bottom: 90px;
    }
}

@media (max-width: 670px) {
    .carrito, .nombre-pagina {
        margin: 20px 50px;
    }

    .grilla .productos {
        width: calc(100% / 1 - 2 * 10px);
    }
}

@media (max-width: 575.98px) {

    #checkout-menu {
        width: 70%;
    }

    .vaciar-carrito {
        width: 70%;
    }

    #cancelar-vaciar, #vaciar {
        display: flex;
        justify-content: center;
    }
}

@media (max-width: 448px) {
    .carrito, .nombre-pagina {
        margin: 20px;
    }
}